################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BeardChamp/obj
/BeardChamp/bin/Debug/net6.0
*.user
/BeardChamp/.vs/BeardChamp
