@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@foreach (var competition in Model.Competitions)
{
    <div>
        <div><img src="Images/@competition.LogoFileName"/></div>
        <div>@competition.Name</div>
        <div>@competition.EventStartDate</div>
        <div><a href="@competition.OfficialPageURI"/></div>
    </div>

}
